.companion-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border: #9e9d9d solid 1px;
}

.companion-container form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.companion-action-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 10px;
}

.companion-dropdown {
  background-color: #4e4d4d;
  color: #e0e0e0
}

.companion-textarea {
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #4e4d4d;
  color: #f0f0f0;
  font-family: "Inter", "Roboto", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  resize: vertical;
  min-height: 60px;
}

.companion-annotation-link {
  z-index: 1000;
  text-decoration: underline;
  cursor: pointer;
  color: blue
}

.companion-close-btn {
  position: absolute;
  top: -40px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #4e4d4d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.companion-upload-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: transform 0.3s ease-in-out;
  align-self: flex-end;
}

.companion-upload-button:hover {
  transform: scale(1.1);
}

.companion-upload-button svg {
  width: 50%;
  height: 50%;
  display: block;
}

.companion-upload-button svg path {
  stroke-width: 2.5;
}

.companion-selection {
  background-color: rgba(0, 120, 215, 0.3);
}

.companion-annotation-box {
  /* Dark background */
  border: solid #2a2a2a 1px;
  padding: 12px 16px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  /* Light gray text for readability */
  line-height: 1.6;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.1);
  /* Soft shadow for depth */
}

.companion-hidden {
  display: none;
}

.companion-annotation-box h1,
h2,
h3 {
  font-size: medium;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.companion-loading::after {
  content: "[⏳]";
  animation: spin 1s linear infinite;
}

@keyframes companion-spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
    /* Halfway through a full rotation */
  }

  100% {
    transform: rotate(360deg);
    /* Full rotation */
  }
}